<div id="<%= dom_id algorithm %>">
  <p>
    <strong>Name:</strong>
    <%= algorithm.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= algorithm.description %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= algorithm.category_id %>
  </p>

  <p>
    <strong>Difficulty:</strong>
    <%= algorithm.difficulty_id %>
  </p>

</div>
